/* ELEMENT STYLES */
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.25rem;
}
h2 {
  color: red;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  text-shadow: 2px 2px rgb(180, 180, 180);
}
input[type="submit"].button-primary {
  background-color: #ce1cc5;
  border-color: aqua;
  font-size: inherit;
}

/* CLASS STYLES */
.bordered {
  border: 1px solid #888;
  border-radius: 8px;
  height: 300px;
}
.headerText {
  animation: blinking 1s infinite;
  color: #ce1cc5;
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
  opacity: 100%;
  padding: 1rem 4rem;
  text-align: right;
  -webkit-text-stroke-width: 1.75px;
  -webkit-text-stroke-color: #ffffff;
}
.jumbotron {
  background-image: url("../images/andi-kernel-ka-s-9_SV-LHxGBU-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  height: 275px;
}
.row {
  margin: 0.5rem 1.5rem;
}

/* KEYFRAMES */
@keyframes blinking {
  0% { text-shadow: 2px 2px aqua; }
  100% { text-shadow: 2px 2px rgb(28, 133, 133); }
}