/* ELEMENT STYLES */
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.25rem;
}

header {
  border: solid 1.75rem rgb(50, 50, 51);
  /* width: 100%; */
}

/* CLASS STYLES */
.headerText {
  animation: blinking 1s infinite;
  color: #ce1cc5;
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
  opacity: 100%;
  padding: 1rem 4rem;
  text-align: right;
  -webkit-text-stroke-width: 1.75px;
  -webkit-text-stroke-color: #ffffff;
}
.jumbotron {
  background-image: url("../images/andi-kernel-ka-s-9_SV-LHxGBU-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  height: 275px;
}
.row {
  margin: 0.5rem 1.5rem;
}

/* KEYFRAMES */
@keyframes blinking {
  0% { text-shadow: 2px 2px aqua; }
  100% { text-shadow: 2px 2px rgb(28, 133, 133); }
}